@model MasterPeicefinal.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminSideBar.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
